{{#vendorExtensions.x-OSLC-CreationFactory}}
@OslcCreationFactory(
    {{#title}}title = "{{this}}", {{/title}}
    {{#label}}label = "{{this}}",{{/label}}
    resourceShapes = { {{#resourceShapes}}"{{this}}"{{#unless @last}},{{/unless}} {{/resourceShapes}} },
    resourceTypes = { {{#resourceTypes}}"{{this}}"{{#unless @last}},{{/unless}} {{/resourceTypes}} },
    usages = { {{#usages}}"{{this}}"{{#unless @last}},{{/unless}}{{/usages}} }
    )
{{/vendorExtensions.x-OSLC-CreationFactory}}
{{#vendorExtensions.x-OSLC-QueryCapability}}
@OslcQueryCapability(
    {{#title}}title = "{{this}}",{{/title}}
    {{#label}}label = "{{this}}",{{/label}}
    {{#resourceShape}}resourceShape = "{{this}}",{{/resourceShape}}
    resourceTypes = { {{#resourceTypes}}"{{this}}"{{#unless @last}},{{/unless}}{{/resourceTypes}} },
    usages = { {{#usages}}"{{this}}"{{#unless @last}},{{/unless}}{{/usages}} }
    )
{{/vendorExtensions.x-OSLC-QueryCapability}}
{{#vendorExtensions.x-OSLC-Dialog}}
@OslcDialog(
    title = "{{title}}",
    {{#label}}label = "{{this}}",{{/label}}
    uri = "{{uri}}",
    {{#hintWidth}}hintWidth = "{{this}}",{{/hintWidth}}
    {{#hintHeight}}hintHeight = "{{this}}",{{/hintHeight}}
    resourceTypes = { {{#resourceTypes}}"{{this}}"{{#unless @last}},{{/unless}}{{/resourceTypes}} },
    usages = { {{#usages}}"{{this}}"{{#unless @last}},{{/unless}}{{/usages}} }
)
{{/vendorExtensions.x-OSLC-Dialog}}