{{#vendorExtensions.x-OSLC-QueryCapability}}
@OslcQueryCapability(
    {{#title}}title = "{{this}}",{{/title}}
    {{#label}}label = "{{this}}",{{/label}}
    {{#resourceShape}}resourceShape = "{{this}}",{{/resourceShape}}
    resourceTypes = { {{#resourceTypes}}"{{this}}"{{#unless @last}},{{/unless}}{{/resourceTypes}} },
    usages = { {{#usages}}"{{this}}"{{#unless @last}},{{/unless}}{{/usages}} }
    )
{{/vendorExtensions.x-OSLC-QueryCapability}}