ServiceProviderCatalog providerCatalog = new ServiceProviderCatalog();
providerCatalog.setAbout(URI.create("{{basePath}}/{{baseName}}{{path}}"));
{{#title}}
providerCatalog.setTitle("{{this}}");
{{/title}}
{{#description}}
providerCatalog.setDescription("{{this}}");
{{/description}}
{{#domains.0}}
    {{#domains}}
providerCatalog.addDomain(URI.create("{{this}}"));
    {{/domains}}
{{/domains.0}}

{{#publisher}}
{{>oslcServiceProviderPublisher}}
providerCatalog.setPublisher(publisher);
{{/publisher}}

{{#serviceProviders.0}}
ServiceProvider provider = new ServiceProvider();
//Adding defined service providers
    {{#serviceProviders}}
provider.setAbout(URI.create("{{basePath}}{{about}}"));
provider.setTitle("{{title}}");
provider.setDescription("{{description}}");
providerCatalog.addServiceProvider(provider);
provider = new ServiceProvider();
    {{/serviceProviders}}
{{/serviceProviders.0}}

{{#referencedServiceProviderCatalogs.0}}
URI[] referencedServiceProviderCatalogsUris = new URI[]{
    {{#referencedServiceProviderCatalogs}}
    URI.create("{{this}}"),
    {{/referencedServiceProviderCatalogs}}
};
providerCatalog.setReferencedServiceProviderCatalogs(referencedServiceProviderCatalogsUris);
{{/referencedServiceProviderCatalogs.0}}


return Response.ok().entity(providerCatalog).build();