{{#vendorExtensions.x-OSLC-ResourceShape}}
@Schema(
        extensions = {
            @Extension(name = "OSLC-ResourceShape", 
                properties = {
                    {{#title}}
                    @ExtensionProperty(name = "title", value = "{{this}}")
                    {{/title}}
                    {{#describes.0}}
                    , @ExtensionProperty(name = "describes", value = "[{{#describes}}\"{{this}}\"{{#unless @last}},{{/unless}}{{/describes}}]", parseValue = true)
                    {{/describes.0}}
                })
            {{#vendorExtensions.x-OSLC-Namespace}}
            , @Extension(properties = { @ExtensionProperty(name = "OSLC-Namespace", value = "{{this}}") })
            {{/vendorExtensions.x-OSLC-Namespace}}
            {{#vendorExtensions.x-OSLC-NotQueryResult}}
            , @Extension(properties = { @ExtensionProperty(name = "OSLC-NotQueryResult", value = "true", parseValue = true) })
            {{/vendorExtensions.x-OSLC-NotQueryResult}}
        }
)
{{/vendorExtensions.x-OSLC-ResourceShape}}
