    {{#vendorExtensions}}    
    , extensions = {
        {{#x-OSLC-Service}}
        @Extension(properties = @ExtensionProperty(name = "OSLC-Service", value = "{{this}}")),
        {{/x-OSLC-Service}}
        {{#x-OSLC-ResourceShapeEndpoint}}
        @Extension(properties = @ExtensionProperty(name = "OSLC-ResourceShapeEndpoint", value = "true", parseValue = true)),
        {{/x-OSLC-ResourceShapeEndpoint}}
        {{#x-OSLC-CreationFactory}}
        @Extension(name = "OSLC-CreationFactory", properties = {
            {{#title}}
            @ExtensionProperty(name = "title", value = "{{this}}"),
            {{/title}}
            {{#label}}
            @ExtensionProperty(name = "label", value = "{{this}}"),
            {{/label}}
            {{#resourceShapes.0}}
            @ExtensionProperty(name = "resourceShapes", value = "[{{#resourceShapes}}\"{{this}}\"{{#unless @last}},{{/unless}}{{/resourceShapes}} ]", parseValue = true),
            {{/resourceShapes.0}}
            {{#resourceTypes.0}}
            @ExtensionProperty(name = "resourceTypes", value = "[{{#resourceTypes}}\"{{this}}\"{{#unless @last}},{{/unless}}{{/resourceTypes}} ]", parseValue = true),
            {{/resourceTypes.0}}
            {{#usages.0}}
            @ExtensionProperty(name = "usages", value = "[{{#usages}}\"{{this}}\"{{#unless @last}},{{/unless}}{{/usages}} ]", parseValue = true),
            {{/usages.0}}
        }),
        {{/x-OSLC-CreationFactory}}
        {{#x-OSLC-QueryCapability}}
        @Extension(name = "OSLC-QueryCapability", properties = {
            {{#title}}
            @ExtensionProperty(name = "title", value = "{{this}}"),
            {{/title}}
            {{#label}}
            @ExtensionProperty(name = "label", value = "{{this}}"),
            {{/label}}
            {{#resourceShape}}
            @ExtensionProperty(name = "resourceShape", value = "{{this}}"),
            {{/resourceShape}}
            {{#resourceTypes.0}}
            @ExtensionProperty(name = "resourceTypes", value = "[{{#resourceTypes}}\"{{this}}\"{{#unless @last}},{{/unless}}{{/resourceTypes}} ]", parseValue = true),
            {{/resourceTypes.0}}
            {{#usages.0}}
            @ExtensionProperty(name = "usages", value = "[{{#usages}}\"{{this}}\"{{#unless @last}},{{/unless}}{{/usages}} ]", parseValue = true),
            {{/usages.0}}
        }),
        {{/x-OSLC-QueryCapability}}
        {{#x-OSLC-ServiceProvider}}
        @Extension(name = "OSLC-ServiceProvider", properties = {
            {{#title}}
            @ExtensionProperty(name = "title", value = "{{this}}"),
            {{/title}}
            {{#description}}
            @ExtensionProperty(name = "description", value = "{{this}}"),
            {{/description}}
            {{#services.0}}
            @ExtensionProperty(name = "services", value = "[{{#services}}\"{{this}}\"{{#unless @last}},{{/unless}}{{/services}}]", parseValue = true),
            {{/services.0}}
            {{#details.0}}
            @ExtensionProperty(name = "details", value = "[{{#details}}\"{{this}}\"{{#unless @last}},{{/unless}}{{/details}} ]", parseValue = true),
            {{/details.0}}
            {{>oslcServiceProviderPublisherExtension}}
            {{#prefixDefinitions.0}}
            @ExtensionProperty(name = "prefixDefinitions", value = "[" +
                {{#prefixDefinitions}}
                "{"+
                    "\"prefix\": \"{{this.prefix}}\","+
                    "\"prefixBase\": \"{{this.prefixBase}}\""+
                "}"+
                {{#unless @last}}","+{{/unless}}
                {{/prefixDefinitions}}
                "]", parseValue = true)
            {{/prefixDefinitions.0}}
        })
        {{/x-OSLC-ServiceProvider}}
        {{#x-OSLC-ServiceProviderCatalog}}
        @Extension(name = "OSLC-ServiceProviderCatalog", properties = {
            {{#title}}
            @ExtensionProperty(name = "title", value = "{{this}}"),
            {{/title}}
            {{#description}}
            @ExtensionProperty(name = "description", value = "{{this}}"),
            {{/description}}
            {{#domains.0}}
            @ExtensionProperty(name = "domains", value = "[{{#domains}}\"{{this}}\"{{#unless @last}},{{/unless}}{{/domains}} ]", parseValue = true),
            {{/domains.0}}
            {{#referencedServiceProviderCatalogs.0}}
            @ExtensionProperty(name = "referencedServiceProviderCatalogs", value = "[{{#referencedServiceProviderCatalogs}}\"{{this}}\"{{#unless @last}},{{/unless}}{{/referencedServiceProviderCatalogs}} ]", parseValue = true),
            {{/referencedServiceProviderCatalogs.0}}
            {{>oslcServiceProviderPublisherExtension}}
            {{#serviceProviders.0}}
            @ExtensionProperty(name = "prefixDefinitions", value = "[" +
                {{#serviceProviders}}
                "{"+
                    "\"title\": \"{{this.title}}\","+
                    "\"description\": \"{{this.description}}\","+
                    "\"about\": \"{{this.about}}\""+
                "}"+
                {{#unless @last}}","+{{/unless}}
                {{/serviceProviders}}
                "]", parseValue = true)
            {{/serviceProviders.0}}
        })
        {{/x-OSLC-ServiceProviderCatalog}}
    }
    {{/vendorExtensions}}