{{#vendorExtensions}}
{{#x-OSLC-CreationFactory}}
@OslcCreationFactory(
    title = "{{title}}", 
    {{#label}}label = "{{this}}",{{/label}}
    resourceShapes = { {{#resourceShapes}}"{{this}}"{{#unless @last}},{{/unless}} {{/resourceShapes}} },
    resourceTypes = { {{#resourceTypes}}"{{this}}"{{#unless @last}},{{/unless}} {{/resourceTypes}} },
    usages = { {{#usages}}"{{this}}"{{#unless @last}},{{/unless}}{{/usages}} }
    )
{{/x-OSLC-CreationFactory}}
{{#x-OSLC-QueryCapability}}
@OslcQueryCapability(
    title = "{{title}}",
    {{#label}}label = "{{this}}",{{/label}}
    {{#resourceShape}}resourceShape = "{{this}}",{{/resourceShape}}
    resourceTypes = { {{#resourceTypes}}"{{this}}"{{#unless @last}},{{/unless}}{{/resourceTypes}} },
    usages = { {{#usages}}"{{this}}"{{#unless @last}},{{/unless}}{{/usages}} }
    )
{{/x-OSLC-QueryCapability}}
{{#x-OSLC-Dialog}}
{{>oslcDialogAnnotation}}
{{/x-OSLC-Dialog}}
{{#x-OSLC-Dialogs.0}}
@OslcDialogs({
    {{#x-OSLC-Dialogs}}
    {{>oslcDialogAnnotation}}
    {{#unless @last}},{{/unless}}
    {{/x-OSLC-Dialogs}}
})
{{/x-OSLC-Dialogs.0}}
{{/vendorExtensions}}