{{#vendorExtensions}}
{{#x-OSLC-PropertyDefinition}}
@OslcPropertyDefinition("{{this}}")
{{/x-OSLC-PropertyDefinition}}
{{#x-OSLC-Name}}
@OslcName("{{this}}")
{{/x-OSLC-Name}}
{{#x-OSLC-Occurs}}
@OslcOccurs(Occurs.{{this}})
{{/x-OSLC-Occurs}}
{{#x-OSLC-ValueType}}
@OslcValueType(ValueType.{{this}})
{{/x-OSLC-ValueType}}
{{#x-OSLC-ReadOnly}}
@OslcReadOnly(true)
{{/x-OSLC-ReadOnly}}
{{#x-OSLC-Range}}
@OslcRange({
    {{#x-OSLC-Range}}"{{this}}"{{#unless @last}},{{/unless}}{{/x-OSLC-Range}}
})
{{/x-OSLC-Range}}
{{#x-OSLC-Description}}
@OslcDescription("{{this}}")
{{/x-OSLC-Description}}
{{#x-OSLC-AllowedValue.0}}
@OslcAllowedValue({
    {{#x-OSLC-AllowedValue}}"{{this}}"{{#unless @last}},{{/unless}}{{/x-OSLC-AllowedValue}}
})
{{/x-OSLC-AllowedValue.0}}
{{#x-OSLC-AllowedValues}}
@OslcAllowedValues("{{this}}")
{{/x-OSLC-AllowedValues}}
{{#x-OSLC-DefaultValue}}
@OslcDefaultValue("{{this}}")
{{/x-OSLC-DefaultValue}}
{{#x-OSLC-Hidden}}
@OslcHidden(true)
{{/x-OSLC-Hidden}}
{{#x-OSLC-MaxSize}}
@OslcMaxSize({{this}})
{{/x-OSLC-MaxSize}}
{{#x-OSLC-MemberProperty}}
@OslcMemberProperty(true)
{{/x-OSLC-MemberProperty}}
{{#x-OSLC-ValueShape}}
@OslcValueShape("{{this}}")
{{/x-OSLC-ValueShape}}
{{#x-OSLC-Title}}
@OslcTitle("{{this}}")
{{/x-OSLC-Title}}
{{#x-OSLC-Representation}}
@OslcRepresentation(Representation.{{this}})
{{/x-OSLC-Representation}}
{{#x-OSLC-RDFCollectionType}}
@OslcRdfCollectionType(
    {{#this.namespaceURI}}namespaceURI="{{this}}"{{/this.namespaceURI}}
    {{#this.collectionType}},collectionType="{{this}}"{{/this.collectionType}}
)
{{/x-OSLC-RDFCollectionType}}
{{/vendorExtensions}}