{{#vendorExtensions.x-OSLC-ResourceShape}}
@OslcResourceShape(
    {{#title}}title = "{{title}}",{{/title}} 
    describes = {
        {{#describes}}"{{this}}",{{/describes}}
    })
{{#vendorExtensions.x-OSLC-Namespace}}
@OslcNamespace("{{this}}")
{{/vendorExtensions.x-OSLC-Namespace}}
{{#vendorExtensions.x-OSLC-NotQueryResult}}
@OslcNotQueryResult(true)
{{/vendorExtensions.x-OSLC-NotQueryResult}}
{{/vendorExtensions.x-OSLC-ResourceShape}}
