{{#vendorExtensions.x-OSLC-Range.0}}org.eclipse.lyo.oslc4j.core.model.Link{{/vendorExtensions.x-OSLC-Range.0}}{{^vendorExtensions.x-OSLC-Range}}{{{datatypeWithEnum}}}{{/vendorExtensions.x-OSLC-Range}}